extends ../layout

block content
  .container
    hr.featurette-divider
    .row.book-single
      .col-md-5
        img.img-responsive(src='#{book.cover_url}', alt='#{book.title}')
      .col-md-7
        h4 Title:
        h2= book.title
        hr
        h4 By:
        h3.text-muted
          a(href='/authors/#{book.author1_id}')= book.author1
          if book.author2 && book.author2.length > 1
            | -   
            a(href='/authors/#{book.author2_id}')= book.author2
          if book.author3 && book.author3.length > 1
            | -   
            a(href='/authors/#{book.author3_id}')= book.author3
        hr
        h4 Genre:
        h3= book.genre
        hr
        p.lead= book.description
        p
        if user && user.is_admin
          a.btn.btn-default(href='/books/#{book.id}/edit', role='button') Edit &raquo;
          button.btn.btn-default.confirm-delete-modal(role='button') Delete &raquo;
    hr.featurette-divider
    #modal-delete.modal.modal-effect-blur
      .modal-content
        h3 Are you sure you want to delete #{book.title}?
        br
        div
          span
            form.delete-form(action='/books/#{book.id}?_method=DELETE', method='POST')
              button.modal-delete.btn.btn-danger.btn-lg Delete
            button.modal-delete-cancel.btn.btn-primary.btn-lg Cancel
    .modal-overlay
    include ../includes/footer.jade
    
    script(src='/javascripts/delete.js')
