extends ../layout

block content
  .container
    hr.featurette-divider
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src='#{book.cover_url}', alt='#{book.title}')
      .col-md-7
        h4 Title:
        h2= book.title
        h3.text-muted= book.author1
        if book.author2.length > 1
          h3.text-muted= book.author2
        if book.author3.length > 1
          h3.text-muted= book.author3
        p.lead= book.description
    hr.featurette-divider
    include ../includes/footer.jade
