extends layout

block content
  include ./includes/header.jade
  div.flex-container
    include ./includes/sidebar.jade
    div.container
      div.row
        div.col-md-8.col-md-offset-1
          table.table.table-hover
            each book in books
              tr
                td
                  img(src=book.cover_url)
                td= book.title
                td= book.author1
                if book.author2
                  td= book.author2
                if book.author3
                  td= book.author3
