extends ../layout

block content
  .container
    hr.featurette-divider
    each author, index in authors
      if index < 4
        .row.authors
          .col-md-5
            .authors-heading
              img.author-img.img-responsive(src='#{author.portrait_url}', alt='#{author.first_name}')
              h2= author.first_name + ' ' + author.last_name
            .books-author
              
          .col-md-7
            if author.biography.length < 400
              p.lead= author.biography
            else
              p.lead= author.biography.substr(0,397) + '...'
            p
              a.btn.btn-default(href='/authors/#{author.id}', role='button') View details &raquo;
        hr.featurette-divider
    include ../includes/footer.jade
