extends ../layout

block content
  .container
    hr.featurette-divider
    each authorbook, index in authorbooks
      if index < 5 * (page + 1) && index >= 5 * page
        .row.authors
          .col-md-5
            .authors-heading
              img.author-img.img-responsive(src='#{authorbook.author.portrait_url}'||'http://www.hdi-slc.com/wp-content/uploads/2012/07/blank-profile.jpg', alt='#{authorbook.author.first_name}')
              h2= authorbook.author.first_name + ' ' + authorbook.author.last_name
            .books-author
              h4 Books:
              if authorbook.books.length > 3
                each book, index in authorbook.books
                  if index < 3
                    .book-link
                      a(href='/books/#{book.id}')= book.title
                p ...
              else
                each book in authorbook.books
                  .book-link
                    a(href='/books/#{book.id}')= book.title
          .col-md-7
            if authorbook.author.biography.length < 400
              p.lead= authorbook.author.biography
            else
              p.lead= authorbook.author.biography.substr(0,397) + '...'
            p
              a.btn.btn-default(href='/authors/#{authorbook.author.id}', role='button') View details &raquo;
        if index < (5 * (page + 1)) - 1 && index < totAuthors[0].count - 1
          hr.featurette-divider
    nav.bottom-nav
      ul.pager
        li.previous(class='#{page == 0 ? "disabled" : ""}')
          a(href='#{path}?page=#{page - 1}')
            span(aria-hidden='true') ←
            |  Back
        li.next(class='#{books.length < 5 * (page + 1) ? "disabled" : ""}')
          a(href='#{path}?page=#{page - 1 + 2}')
            | Next  
            span(aria-hidden='true') →
      hr.featurette-divider
    include ../includes/footer.jade
    script(src='/javascripts/pagination')
