extends ../layout

block content
  .container
    hr.featurette-divider
    .row.author-single
      .col-md-5
        .authors-heading
          img.author-img.img-responsive(src='#{authorbook.author.portrait_url}', alt='#{authorbook.author.first_name}')
          h2= authorbook.author.first_name + ' ' + authorbook.author.last_name
        hr
        .books-author
          each book in authorbook.books
            .book-link
              a(href='/books/#{book.id}')= book.title
      .col-md-7
        p.lead= authorbook.author.biography
        p
        if user && user.is_admin
          a.btn.btn-default(href='/authors/#{authorbook.author.id}/edit', role='button') Edit &raquo;
          button.btn.btn-default.confirm-delete-modal(role='button') Delete &raquo;
    hr.featurette-divider
    #modal-delete.modal.modal-effect-blur
      .modal-content
        h3 Are you sure you want to delete #{authorbook.author.first_name} #{authorbook.author.last_name}?
        br
        div
          span
            form.delete-form(action='/authors/#{authorbook.author.id}?_method=DELETE', method='POST')
              button.modal-delete.btn.btn-danger.btn-lg Delete
            button.modal-delete-cancel.btn.btn-primary.btn-lg Cancel
    .modal-overlay
    include ../includes/footer.jade
    
    script(src='/javascripts/delete.js')
