extends ../layout

block content
  .buffer
  .container
    form.form-horizontal(action='/authors/#{author.id}?_method=PUT', method='POST')
      .row
        .col-md-10.col-md-offset-1
          fieldset
            legend New Author
      .row
        .col-md-6
          .control-group
            label.control-label(for='first_name') First Name
            .controls
              input.form-control.input-lg(type='text', name='first_name', value='#{author.first_name}')
              p.help-block Please enter the author's first name
          .control-group
            label.control-label(for='last_name') Last Name
            .controls
              input.form-control.input-lg(type='text', name='last_name', value='#{author.last_name}')
              p.help-block Please enter the author's last name
          .control-group
            label.control-label(for='portrait_url') Portrait URL
            .controls
              input.form-control.input-lg(type='text', name='portrait_url', value='#{author.portrait_url}')
              p.help-block Please enter a url
        .col-md-6
          .control-group
            label.control-label(for='biography') Biography
            .controls
              textarea.form-control.input-lg(type='text', name='biography', rows=5)
                | #{author.biography}
              p.help-block Please enter a brief biography of the author
          .control-group
            label.control-label(for='books') Books
            .controls
              input.form-control.input-lg(type='text', name='books', placeholder='not functional')
              p.help-block Please enter books by this author
      .row
        .control-group
          .controls
            button.btn.btn-success(type='submit') Submit
